<form action="/answer" method="get" class="form">
  <label for="question">Ask your coach anything:</label><br>
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Ask something to the stupid coach!">
  <input type="submit" value="Ask!">
</form>
